.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head {
  font-size: 30px;
  font-weight: 600;
  color: #343434;
}

.auth-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  background: #17a2b8;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.astronaut-image {
  width: 1010px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #17a2b8;
  color: #fff;
}

.formimg {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-52%);
  height: 300px;
}

.formbox {
  height: 180px;
  width: 180px;
  position: relative;
  border-radius: 50%;
  background-color: #317f8b;
}

.welcome-text {
  font-size: 33px;
  font-weight: 600;
  margin-top: 50px;
}

.subtext {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 15px;
  background-color: #fff;
  /* width: 50px; */
 
}

.form-group {
  display: flex;
  /* align-items: center; */
  position: relative;
  justify-content: start;
  flex-direction: column;
}

.frommail {
  position: absolute;
  left: 5px;

}

.form-group input {
  width: 400px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
}

.forminput::placeholder {
  font-size: 18px;
}
.forminput {
  padding: 0 40px;
}

.auth-button {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 480px;
  height: 45px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}

.auth-toggle {
  font-size: 20px;
  font-weight: 400;
  color: #828282;
  text-align: center;
}

.auth-toggle span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.inActive {
  border: #17a2b8 2px solid;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  width: 480px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #17a2b8;
  margin-top: 15px;
  margin-bottom: 10px;
}

.inner-form-input {
  display: flex;
  align-items: center;

}
.error{
margin-top: 4px;
}

@media (max-width: 768px) {
  .auth-content {
    flex-direction: column;
  }

  .astronaut-image {
    padding: 1rem;
  }

  .astronaut-image img {
    max-width: 150px;
  }
}

.passseenendform {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#mailid {
  padding-left: 4px;
}

.password-strength {
  margin-top: 4px;
}

.strength-weak {
  color: red;
}

.strength-medium {
  color: orange;
}

.strength-strong {
  color: green;
}
