.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    border-radius: 8px;
    padding: 10px 30px 30px 30px;
    width: 45%;

}

.tittle {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    text-wrap: nowrap;

}

.star {
    color: #FF0000;
}

.todotaskinput {
    width: 97%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    padding: 0 10px;
}

.todotaskinput ::placeholder {
    color:
        #9B959F;
    font-weight: 400;
    font-size: 15px;
    padding: 0 10px;
}


.taskcirclehigh {
    background-color: #FF2473;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.taskcirclemid {
    background-color: #18B0FF;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.taskcirclelow {
    background-color:      #63C05B;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.taskhighpriority {
    border: 1px solid #ccc;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-radius: 6px;
    cursor: pointer;

}

.taskbtns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    /* width: 800px; */
    justify-content: space-between;


}

.assinetask {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;


}

.todotassin {
    /* width: 530px; */
    height: 45px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    padding: 0 10px;


}

.addtaskall {
 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
}

.taskcheckbox {
    position: absolute;
    left: 4px;
    cursor: pointer;

}

.taskcheckboxend {
    position: absolute;
    right: 5px;
    cursor: pointer;


}



.todotaskinputadd {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    padding: 0 30px;
    margin-bottom: 15px;
}

.addbtntask {
    display: flex;
    align-items: center;
    gap: 0 10px;


}

.addnewtask {
    font-size: 16px;
    font-weight: 500;
    color: #767575;
    cursor: pointer;

}

.datebtntask {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    border: 1px solid #E2E2E2;
    padding: 0 10px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    cursor: pointer;

}

.canclebtntask {
    color: #CF3636;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #CF3636;
    padding: 0 10px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
    cursor: pointer;


}

.savebtntask {
    background-color: #17A2B8;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
    cursor: pointer;



}

.threebtntask {
    display: flex;
    justify-content: space-between;
}

.savecanclebtn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.selected{
    background-color: 
    #EEECEC;
}

.titletext{
    color: 
    #767575;
}

.addtaskallnewadd{
    display: flex;
    align-items: center; 
    gap: 10px; 
    width: 100%;
    position: relative;
    /* height: 200px; */
}
