.pro-manage {
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.public-protext {
  font-size: 16px;
  font-weight: 700;
}
.public-box {
  display: flex;
  gap: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.task-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.priority {
  display: flex;
  align-items: center;
  gap: 7px;
}
.public-priority {
  color: #707070;
  font-size: 12px;
}
.priority-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #ff2473;
  border-radius: 50%;
}

.public-task-name {
  font-size: 20px;
  font-weight: 500;
}

.public-checklist {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.checklist-header {
  font-size: 13px;
  font-weight: 500;
}

.public-checklist-item {
  position: relative;
  display: flex;
  align-items: center;
  
}
.public-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;

  position: absolute;
  left: 10px;
}

.public-checklist-input {

  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  cursor: default;
  user-select: none;
  gap: 10px;
  padding:  10px 32px;
  width: 100%;
}



.checkbox.checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4caf50;
  font-size: 14px;
}

.public-due-date {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
}

.public-date {
  background-color: #cf3636;
  color: white;

  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .pro-manage {
    padding: 15px;
  }

  .task-card {
    padding: 15px;
    border-radius: 10px;
  }

  .header h1 {
    font-size: 20px;
  }

  .task-name {
    font-size: 18px;
  }

  .checklist-header,
  .checklist-input,
  .due-date {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .pro-manage {
    padding: 10px;
  }

  .task-card {
    padding: 10px;
    border-radius: 8px;
  }

  .header h1 {
    font-size: 18px;
  }

  .task-name {
    font-size: 16px;
  }

  .checklist-header,
  .checklist-input,
  .due-date {
    font-size: 12px;
  }

  .date {
    padding: 3px 8px;
  }
}
